:root {
    --blue: #00a2ff;
    --charcoal: #4a4a4a;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 68, 68);
    padding: 2%;
    padding-left: 0%;
}

h1 {
    font-size: 300%;
    font-family: var(--font);
    padding: 10px 50px 10px 10px;
    background-color: var(--blue);
    margin: 0;
}

.title {
    font-size: 200%;
    font-family: var(--font);
    padding: 20px;
    background-color: var(--blue);
    justify-content: flex-end;
    align-content: flex-end;
}

.image-container {
    display: flex;
    background-image: url("../images/USMC.jpg");
    justify-content: flex-end;
    align-items: flex-end;
    background-position: center;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul li {
    display: inline-flex;
    font-size: 150%;
    font-family: var(--font);
    color: var(--blue);
    text-decoration: underline;
}


.article {
    display: flex;
    justify-content: space-around;
    flex-basis: 60%;

}

.article-heading {
    font-family: var(--font);
    font-size: 250%;
    color: var(--charcoal);
    flex-basis: 30%;
    border-right: 5px solid;
    text-align: end;
    padding-right: 20px;
}

p {
    font-family: var(--font);
    color: var(--charcoal);
    padding-left: 35px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    /*flex-basis: 60%;*/
}

.work-heading {
    font-family: var(--font);
    font-size: 250%;
    color: var(--charcoal);
    flex-basis: 30%;
    border-right: 5px solid;
    text-align: end;
    padding-right: 20px;
    background-color: #00a2ff;
}

.box {
    display: flex;
    background-image: url("../images/BBN.jpg");
    flex-wrap: wrap;
    flex-basis: 60%;
    background-position: center;
    height: 200px;
    background-size: 300px;
    background-repeat: no-repeat;

}
h4 {
    font-family: var(--font);
    color: var(--blue);
    font-size: 150%;
}